.App {
  text-align: center;
}

button {
  padding: 10px;
  font-size: 30px;
  border-radius: 5px;
  margin: 20px;
  border: 0;
  opacity: 1;
}
button:hover {
  opacity: 0.5;
  cursor: pointer;
}

h1 {
font-size: 90px;
margin-top: 20px;
}